<html>
  <head>
    <link
      rel="stylesheet"
      href="{{ url_for('static', filename='style.css') }}"
    />
    <title>{{ title }} CodeClan Library</title>
  </head>

  <body>
    <div id="page-container">
      <div id="content-wrap">
        <header>
          <div class="header-list">
            <h1>CodeClan Library</h1>
            <nav>
              <ul>
                <li><a href="/">Home</a></li>
                <li><a href="/books">Books</a></li>
                <li><a href="/books/new">Add Books</a></li>
              </ul>
            </nav>
          </div>
        </header>
        <hr />
        <div class="body">{% block content %} {% endblock %}</div>
        <footer id="footer">
          <div>
            <h3>CodeClan Library @2022</h3>
          </div>
        </footer>
      </div>
    </div>
  </body>
</html>
